xml+xsd/GOZFM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="Т10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т20">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т20П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т60П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т100">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
  
	<xs:simpleType name="Т250">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т250П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т2000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т1000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="БИКТип">
		<xs:annotation>
			<xs:documentation>БИК по справочнику БИК РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
   
	<xs:simpleType name="ОГРНТип">
	    <xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13}|[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
  
	<xs:simpleType name="ИННТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}|[0-9]{10}|[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ИННТипП">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}|[0-9]{10}|[0-9]{12}|"/>
		</xs:restriction>
	</xs:simpleType>
    
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- *************** Номер документа *************** -->
	<xs:simpleType name="НомДок50П">
		<xs:restriction base="xs:string">
			<xs:pattern value="[А-ЯA-Z0-9\-/]{1,50}|"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- *************** Номер телефона *************** -->
	<xs:simpleType name="ТелефонТип">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- *************** Код валюты *************** -->
	<xs:simpleType name="КодВалТип">
		<xs:annotation>
			<xs:documentation>Код валюты</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="СуммаТип">
		<xs:annotation>
			<xs:documentation>Цена</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,20}\.[0-9]{1,2}|[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- *************** ФИО *************** -->
	<xs:complexType name="ФИО">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Фам" type="Т100">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Имя" type="Т100">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Отч" minOccurs="0" type="Т100">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- *************** ДокУдост *************** -->
	<xs:complexType name="ДокУдост">
		<xs:annotation>
			<xs:documentation>Тип данных «Сведения о документе, удостоверяющем личность»</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВидДокКод">
				<xs:annotation>
					<xs:documentation>Код вида документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ВидДокНаименование" type="Т250">
				<xs:annotation>
					<xs:documentation>Наименование вида документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СерияДок" type="НомДок50П">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомДок" type="НомДок50П">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КемВыданДок" type="Т250">
				<xs:annotation>
					<xs:documentation>Кем выдан документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатВыдачиДок" type="ДатаТип">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КодПодр">
				<xs:annotation>
					<xs:documentation>Код подразделения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[а-яА-Яa-zA-Z0-9\-/]{1,50}|"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- *************** Банк *************** -->
	<xs:complexType name="Банк">
		<xs:annotation>
			<xs:documentation>Сведения об уполномоченном банке (филиале)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НаимКО" type="Т2000">
				<xs:annotation>
					<xs:documentation>Наименование уполномоченного банка (филиала)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="РегНомКО">
				<xs:annotation>
					<xs:documentation>Регистрационный номер уполномоченного банка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НомФл" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер филиала уполномоченного банка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="БИККО" type="БИКТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>БИК кредитной организации (филиала)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- *************** ВладелецСчет *************** -->
	<xs:complexType name="ВладелецСчет">
		<xs:annotation>
			<xs:documentation>Сведения о владельце отдельного счета</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипВладелец">
				<xs:annotation>
					<xs:documentation>Тип владельца отдельного счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="1|2|3"/>
					</xs:restriction>
				</xs:simpleType>					
			</xs:element>
			<xs:element name="НаимВладелец">
				<xs:annotation>
					<xs:documentation>Наименование владельца отдельного счета</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="ЮрЛицо">
							<xs:annotation>
								<xs:documentation>Юридическое лицо</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ИП" type="ФИО">
							<xs:annotation>
								<xs:documentation>Индивидуальный предприниматель или физическое лицо</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ОГРНВладелец" type="ОГРНТип">
				<xs:annotation>
					<xs:documentation>ОГРН (ОГРНИП) владельца отдельного счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИННВладелец" type="ИННТип">
				<xs:annotation>
					<xs:documentation>ИНН владельца отдельного счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КППВладелец" type="КППТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП владельца отдельного счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаРождИП" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СведДокУдЛичн" type="ДокУдост" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
				</xs:annotation>
			</xs:element>						
		</xs:sequence>
	</xs:complexType>

	<!-- *************** Адрес *************** -->
	<xs:complexType name="Адрес">
		<xs:sequence>
			<xs:element name="КодОКСМ">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Индекс">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[\d\s]{6}|"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="КодСубъектаПоОКАТО">
				<xs:annotation>
					<xs:documentation>Код субъекта Российской Федерации по ОКАТО</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}|"/>
					</xs:restriction>
				</xs:simpleType>					
			</xs:element>
			<xs:element name="Район" type="Т250П">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Пункт" type="Т250">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Улица" type="Т250П">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Дом" type="Т60П">
				<xs:annotation>
					<xs:documentation>Дом(владение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Корп" type="Т20П">
				<xs:annotation>
					<xs:documentation>Корпус(строение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Оф" type="Т20П">
				<xs:annotation>
					<xs:documentation>Офис (строение)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- *************** Контактная информация *************** -->
	<xs:complexType name="КонтактИнфо">
		<xs:annotation>
			<xs:documentation>Тип данных «Контактная информация»</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипИнфо">
				<xs:annotation>
					<xs:documentation>Тип контактной информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="1|2|3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИнфоКонтакт" type="Т250">
				<xs:annotation>
					<xs:documentation>Контактная информация</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- *************** Идентификатор *************** -->					
	<xs:simpleType name="ИдентификаторКО">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор информации, формируемой уполномоченным банком (филиалом)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}_[0-9]{4}_[0-9]{4}_0[1-3]{1}_[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- *************** Реквизиты документа *************** -->
	<xs:complexType name="Документ">
		<xs:annotation>
			<xs:documentation>Тип данных «Реквизиты документа»</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НаимДок" type="Т100">
				<xs:annotation>
					<xs:documentation>Наименование вида документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаДок" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомДок" type="Т100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СодДок" type="Т2000">
				<xs:annotation>
					<xs:documentation>Краткое содержание документа </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- *************** Сведения о получателе *************** -->
	<xs:complexType name="СведенияПолучатель">
		<xs:annotation>
			<xs:documentation>Сведения о получателе средств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипПолучатель">
				<xs:annotation>
					<xs:documentation>Тип получателя средств</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="1|2|3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ПризнПолучатель">
				<xs:annotation>
					<xs:documentation>Признак резидента (нерезидента) получателя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="0|1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НаимПолучатель">
				<xs:annotation>
					<xs:documentation>Наименование получателя средств</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="ЮрЛицо">
							<xs:annotation>
								<xs:documentation>Юридическое лицо</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="2000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ИП" type="ФИО">
							<xs:annotation>
								<xs:documentation>Индивидуальный предприниматель или физическое лицо</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>	
			</xs:element>
			<xs:element name="ОГРНПолучатель" type="ОГРНТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН (ОГРНИП) получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИННПолучатель" type="ИННТипП">
				<xs:annotation>
					<xs:documentation>ИНН (КИО) получателя средств</xs:documentation>
				</xs:annotation>
		    </xs:element>
			<xs:element name="КПППолучатель" type="КППТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП получателя</xs:documentation>
				</xs:annotation>
			</xs:element>				
			<xs:element name="ДатаРождИППолуч" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СведДокУдЛичнПолуч" type="ДокУдост" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- *************** Сведения о банке (филиале) получателя *************** -->
	<xs:complexType name="БанкПолучатель">
		<xs:annotation>
			<xs:documentation>Тип данных «Сведения о банке (филиале) получателя»</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НаимКОПолуч" type="Т2000">
				<xs:annotation>
					<xs:documentation>Наименование банка (филиала) получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="БИККОПолуч">
				<xs:annotation>
					<xs:documentation>БИК (СВИФТ) банка (филиала)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{9})|([A-Z]{4}[A-Z]{2}[0-9A-Z]{2}[0-9A-Z]{3})|НР"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="СообщГОЗ">
		<xs:annotation>
			<xs:documentation>
				Электронные сообщения о случаях отказа в принятии к исполнению распоряжений о совершении операций, проведения ранее приостановленной операции, 
				отказа на основании уведомления головного исполнителя в проведении ранее приостановленной операции
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СлужЧастьКО">
					<xs:annotation>
						<xs:documentation>Служебная часть электронного сообщения КО</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ВерсФорм">
								<xs:annotation>
									<xs:documentation>Версия формата</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="Т10">
										<xs:pattern value="1.1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ВерсПрог" type="Т50">
								<xs:annotation>
									<xs:documentation>Версия передающей программы</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ТипИнф">
								<xs:annotation>
									<xs:documentation>Тип информации</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="ГОЗРФМ"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="БИККОНапрв" type="БИКТип">
								<xs:annotation>
									<xs:documentation>БИК уполномоченного банка (филиала), направившего электронное сообщение</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ДатаСооб" type="ДатаТип">
								<xs:annotation>
									<xs:documentation>Дата направления электронного сообщения</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="УполнСотрудн" type="Т250">
								<xs:annotation>
									<xs:documentation>Должность уполномоченного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ФИОУполнСотрудн" type="ФИО">
								<xs:annotation>
									<xs:documentation>ФИО уполномоченного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ТелУполнСотрудн" type="ТелефонТип">
								<xs:annotation>
									<xs:documentation>Телефон(телефоны) уполномоченного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Раздел1">
					<xs:annotation>
						<xs:documentation>Сведения об уполномоченном банке (филиале), в котором открыт отдельный счет</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведКО" type="Банк">
								<xs:annotation>
									<xs:documentation>Сведения об уполномоченном банке (филиале), в которой открыт отдельный счет</xs:documentation>
								</xs:annotation>
							</xs:element>	
						</xs:sequence>
					</xs:complexType>						
				</xs:element>				
				<xs:element name="Раздел2">
					<xs:annotation>
						<xs:documentation>Сведения о владельце отдельного счета</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Владелец" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведВладелец" type="ВладелецСчет">
											<xs:annotation>
												<xs:documentation>Сведения о владельце отдельного счета</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="АдрВладелец" type="Адрес">
											<xs:annotation>
												<xs:documentation>Адрес (место нахождения) владельца отдельного счета</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="АдрВладелецИной" type="Адрес" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Адрес местонахождения (места пребывания) владельца отдельного счета</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ИнфоВладелец" type="КонтактИнфо" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Контактная информация владельца отдельного счета</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="НомерОтдСчет">
											<xs:annotation>
												<xs:documentation>Номер отдельного счета</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Раздел3">
											<xs:annotation>
												<xs:documentation>
													Сведения о случаях отказа в проведении запрещенной операции, проведения ранее приостановленной операции,
													отказа в проведении ранее приостановленной операции
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Сведения" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ВидИнф">
																	<xs:annotation>
																		<xs:documentation>Код вида представляемой информации</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="0(1|2|3)"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ИдентифИнфКО" type="ИдентификаторКО">
																	<xs:annotation>
																		<xs:documentation>
																			Уникальный идентификатор направляемой информации об отказе в проведении запрещенной операции, о проведение ранее
																			приостановленной операции, об отказе на основании уведомления головного исполнителя в проведении ранее приостановленной операции
																		</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ПризнакИнф">
																	<xs:annotation>
																		<xs:documentation>Признак направления информации</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="[1-4]{1}"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ИденГосКонтракт">
																	<xs:annotation>
																		<xs:documentation>Идентификатор государственного контракта по государственному оборонному заказу</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="КодОтказ" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Причина отказа в проведении операции</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="(0[1-9])|(1[0-9])|(2[0-6])"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ПриостановОперация" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ПричинаПриостанов">
																				<xs:annotation>
																					<xs:documentation>Причина приостановления операции</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:pattern value="0[1-5]"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ДатаПриостанов" type="ДатаТип">
																				<xs:annotation>
																					<xs:documentation>Дата приостановления операции</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ДатаИнфГИ" type="ДатаТип">
																				<xs:annotation>
																					<xs:documentation>Дата информирования головного исполнителя о приостановлении операции</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ПризнакУведГИ" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Признак наличия уведомления головного исполнителя</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:pattern value="0|1"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="ДатаУведГИ" type="ДатаТип">
																				<xs:annotation>
																					<xs:documentation>Дата получения уведомления головного исполнителя</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="ПричинаОтказ" type="Т2000" minOccurs="0">
																				<xs:annotation>
																					<xs:documentation>Причина отказа в проведении ранее приостановленной операции</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ДатаОперация" type="ДатаТип">
																	<xs:annotation>
																		<xs:documentation>Дата операции</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="КодВал" type="КодВалТип">
																	<xs:annotation>
																		<xs:documentation>Код валюты операции</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="СумОперация" type="СуммаТип">
																	<xs:annotation>
																		<xs:documentation>Сумма операции</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ОснованиеОп" type="Документ" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Основание совершения операции</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="НазначПлатеж" type="Т1000">
																	<xs:annotation>
																		<xs:documentation>Назначение платежа</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Получатель" type="СведенияПолучатель">
																	<xs:annotation>
																		<xs:documentation>Сведения о получателе средств</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="АдрПолучатель" type="Адрес" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Адрес (место нахождения) получателя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="АдрПолучательИной" type="Адрес" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Адрес местонахождения (места пребывания) получателя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="СчетПолучатель" type="Т100">
																	<xs:annotation>
																		<xs:documentation>Номер счета получателя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="СведБанкПолучатель" type="БанкПолучатель">
																	<xs:annotation>
																		<xs:documentation>Сведения о банке (филиале) получателя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="АдрБанкПолучатель" type="Адрес" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Адрес (место нахождения) банка (филиала) получателя</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="Коммент" type="Т2000" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Дополнительная информация</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>							
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>